* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body{
    font-family: 'Roboto', sans-serif;
}

.hero{
    width: 100vw;
    height: 10vh;
    background-image: url(image/caucasian-young-man-s-portrait-dark-studio-background-neon-concept-human-emotions-facial-expression.jpg);
    
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.brand{
    color: #fff;
}
.navegacion{
    float: left;
    display: flex;
    align-items: center;
    min-height: 90px;
    z-index: 1000;
}
.navegacion {
    list-style: none;
    padding: 0 10px;
}
.navegacion  li{
    display: inline-block;
    position: relative;
    transition: .3s linear;
    z-index: 1000;
    
    
}
.navegacion  li:hover{
    
    background-color: #fff;
    transform: scale(1.1);
    color: #89fc00;
}
.navegacion  li a{
    color:#ffff;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    padding: 12px 20px;
    transition: .3s linear;
    text-decoration: none;
}
.navegacion  li a:hover{
    
    color: black;
    transform: scale(1.1);
}

.container-form {
    width: 90%;
    height: 90vh;
    display: flex;
    justify-content: space-around;
    transition:  all .5s ease-out;
}

/* Formulario */

.fondo{
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(image/fondo_buy.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.formulario {
    width: 1000px;
    padding: 1rem;
    margin: 6rem;
    background-color: #A6D8D4;
    text-align: center;
}

.create-account {
    padding: 2.7rem 0;
    font-size: 1.7rem;
}

.formulario input {
    width: 70%;
    display: block;
    margin: auto;
    margin-bottom: 2rem;
    background-color: transparent;
    border: none;
    border-bottom: white thin solid;
    text-align: center;
    outline: none;
    padding: .2rem 0;
    font-size: .9rem;
    color: #000;
}
.formulario input[type="button"] {
    width: 60%;
    margin: auto;
    
    padding: .7rem;
    border-radius: 2rem;
    background-color: white;
    font-weight: 600;
    margin-top: 3rem;
    font-size: .8rem;
    cursor: pointer;
    color: #222;
}
.formulario input[type="button"]:hover{
    background: none;
    color: black;
    border: 1px solid black;
    transform: scale(1.1);
}

/* footer */

footer{
    background: #2f3132;
    padding: 60px 0 30px 0;
    margin: auto;
    overflow: hidden;
}

.contenedor-footer{
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 50px;
    border-bottom: 1px solid #ccc;
}

.content-foo{
    text-align: center;
}

.content-foo h4{
    color: #fff;
    border-bottom: 3px solid #ccc;
    padding-bottom: 5px;
    margin-bottom: 10px;

    text-transform: uppercase;
}

.content-foo p{
    color: #adb5bd;
}
.titulo-final{
    text-align: center;
    font-size: 24px;
    margin: 20px 0 0 0;
    color: #fff;
    text-transform: uppercase;
}