*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    
}

.hero{
    width: 100vw;
    height: 10vh;
    background-image: url(image/young-student-sitting-table-use-laptop.jpg);
    
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.brand{
    color: black;
}
.navegacion{
    float: left;
    display: flex;
    align-items: center;
    min-height: 90px;
    z-index: 1000;
}
.navegacion {
    list-style: none;
    padding: 0 10px;
}
.navegacion  li{
    display: inline-block;
    position: relative;
    transition: .3s linear;
    z-index: 1000;
    
}
.navegacion  li:hover{
    border-radius: 10px;
    background-color: #fff;
    transform: scale(1.1);
}
.navegacion  li a{
    color:#000;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    padding: 12px 20px;
    transition: .3s linear;
    text-decoration: none;
}
.navegacion  li a:hover{
    color: black;
    transform: scale(1.1);
}

/* card */

.container{
    width: 100%;
    max-width: 1200px;
    height: 430px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}


.container .card{
    width: 330px;
    height: 430px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.25s;
}

.container .card:hover{
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.container .card img{
    width: 330px;
    height: 220px;
}

.container .card h4{
    font-size: 600;
}

.container .card p{
    padding: 0 1rem;
    font-size: 16px;
    font-weight: 300;
}

.container .card a{
    font-weight: 500;
    text-decoration: none;
    color: #3498db;
}

/* footer */

footer{
    background: #2f3132;
    padding: 60px 0 30px 0;
    margin: auto;
    overflow: hidden;
}

.contenedor-footer{
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 50px;
    border-bottom: 1px solid #ccc;
}

.content-foo{
    text-align: center;
}

.content-foo h4{
    color: #fff;
    border-bottom: 3px solid #ccc;
    padding-bottom: 5px;
    margin-bottom: 10px;

    text-transform: uppercase;
}

.content-foo p{
    color: #adb5bd;
}
.titulo-final{
    text-align: center;
    font-size: 24px;
    margin: 20px 0 0 0;
    color: #fff;
    text-transform: uppercase;
}
