@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import 'mediaqueries.css';
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    background-image: url(image/young-student-sitting-table-use-laptop.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero{
    width: 100vw;
    height: 100vh;
    
    
}
.brand{
    color: black;
}
.navegacion{
    float: left;
    display: flex;
    align-items: center;
    min-height: 90px;
    z-index: 1000;
}
.navegacion {
    list-style: none;
    padding: 0 10px;
}
.navegacion  li{
    display: inline-block;
    position: relative;
    transition: .3s linear;
    z-index: 1000;
    
}
.navegacion  li:hover{
    border-radius: 10px;
    background-color: #fff;
    transform: scale(1.1);
}
.navegacion  li a{
    color:#000;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    padding: 12px 20px;
    transition: .3s linear;
    text-decoration: none;
}
.navegacion  li a:hover{
    color: black;
    transform: scale(1.1);
}
main{
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
    padding: 200px ;
    width: 100%;
    text-align: 70vh;
    height: 24vh;
}
.content-info{
    margin-top:10em;
    color: #fff;
}

.btn-toBuy,  .read-more{

    background-color: #2f3132;
    padding: 8px 40px;
    font-size: 1.2em;
    border-radius: 20px;
    border: none;
}
.read-more{
    color: #fff;
    margin: 20px;
}

.btn-toBuy:hover{
    background: none;
    color: black;
    border: 1px solid black;
    transform: scale(1.1);
}
.read-more:hover{
    background: none;
    color: black;
    border: 2px solid black;
    transform: scale(1.1);
}

.btn-toBuy a:hover{
  color: black;
}

.btn-toBuy a{
    text-decoration: none;
    list-style: none;
    color: #fff;
}

h1{
    
    margin-bottom: 10px;
    font-size: 60px;
    font-weight: 600;
    text-transform: uppercase;
    color: #212529;
    
    
}

h3{
 
 font-size: 30px;
 font-weight: 400;
 
 color: #212529;
}
 
