@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import 'mediaqueries.css';
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
}

.hero{
    width: 100vw;
    height: 90vh;
    background-color: #ca4173;
    max-width: 100%;
}
.navbar{
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  padding: 30px;
  
}
.navbar .brand{
    color: #fff;
    margin-top: 10px;
}
.navbar .menu{
    grid-column: 6/9;
    display: flex;
    margin-top: 10px;
}
.menu li a{
    text-decoration: none;
    margin-right: 3em;
    font-size: 1.3em;
    color: rgb(247, 243, 243);
    font-weight: 200;
    padding: 10px 20px;
}
.menu li a:hover{
    background-color: rgb(235, 63, 20);
    transition: all .10s;
    color: #000;
}
.menu-bar{
    display: none;
}
main{
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    text-align: 70vh;
    height: 70vh;
}
.content-info{
    margin-top: 5em;
    color: #fff;
}
button{
    cursor: pointer;
    color: #fff;
    box-shadow: 0px 3px 14px 8px rgb(10, 10, 10, 0.78);
}
.btn-toBuy,  .read-more{
    background-color: #ca4173;
    padding: 8px 40px;
    font-size: 1.2em;
    border-radius: 20px;
    border: none;
}
.read-more{
    background: none;
    border: 1px solid #fff;
    margin: 20px;
}
.main img{
    margin: 5em;
    float: right;
    margin-top: -22em;
}
.main{
    background: #1f4037;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #99f2c8, #1f4037);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #99f2c8, #1f4037); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}